<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
        <title>LandingPage</title>
    </head>
    <body>
        <h1>ETF Main View</h1>

        <div class="btn-group" style="width:100%">
            {% for stock_key, stock_value in stock_list.items %}
                <a href="{{ base_url }}{{ stock_key }}/">
                    <button>
                        {{ stock_key }}
                    </button>
                </a>
            {% endfor %}
        </div>
    </body>
</html>